@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Poppins:wght@300;500;600&family=Sanchez&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --green: #00730c;
    --black: #212529;
}


.nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: var(--black);
}


.nav-logo {
    padding: 8px 16px;
}


.nav-links {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--black);
}


.nav-links .nav-link a {
    text-decoration: none;  
    color: var(--black);  
}



.nav .call-container {
    padding: 8px 16px;
}


.nav .call-container a {
    text-decoration: none;
    color: var(--black);
}


.landing-page {
    height: 100vh;
    background-image: linear-gradient(107.11deg, #d9f1df 6.32%, rgba(252, 231, 208, .5) 51.07%, #d9f1df 92.67%);
}



