@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Poppins:wght@300;500;600&family=Sanchez&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --green: #00730c;
    --black: #212529;
    --light-green: #d9f1e0;
    --light-grey: #676767;
    --dull-yellow: #FFC850;
    --dark-green: #0c4b35;
}


body {
    overflow-x: hidden;
}


.nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: var(--black);
    height: 80px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.nav-logo {
    padding: 8px 16px;
}


.nav-links {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--black);
}


.nav-links .nav-link a {
    text-decoration: none;  
    color: var(--black);     
}



.nav .call-container {
    padding: 8px 16px;
}


.green-btn {
    text-decoration: none;
    color: var(--black);
    background-color: var(--green);
    border-radius: 15px 5px;
    box-shadow: 0px 10px 20px rgba(0, 115, 12, .15);
    width: auto;
    padding: .4rem 1rem;
    color: var(--light-green);
    font-size: 16px;
}


.green-btn:hover {
    text-decoration: none;
    color: #ffffff;
}


.nav .call-container svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.landing-page {
    height: 100vh;
    background-image: linear-gradient(107.11deg, #d9f1df 6.32%, rgba(252, 231, 208, .5) 51.07%, #d9f1df 92.67%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.landing-page .left, .right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}


.landing-page .left {
    padding-left: 180px;
}


.landing-page .left h3 {
    font-size: 52px;
    font-weight: 800;
    line-height: 71px;
    width: 90%;
}


.landing-page .left p {
    font-size: 18px;
    color: #676767;
    font-weight: 400;
}


.left .works-link {
    text-decoration: none;
    font-size: 18px;
    color: #676767;
    line-height: 25px;
    margin-left: 2rem;
}


.reviews-wrapper {
    display: flex;
    width: 100%;
}


.reviews-wrapper .profiles {
    display: flex;
}


.reviews-wrapper .profiles .reviewer-profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #ffffff;
}


.reviews-wrapper .profiles .reviewer-profile.two,
.reviews-wrapper .profiles .reviewer-profile.three,
.reviews-wrapper .profiles .reviewer-profile.four  {
    margin-left: -1rem;
}


.reviews-wrapper .profiles .reviewer-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}


.reviews-wrapper .review-text {
    padding-left: 2rem;
}


.reviews-wrapper .review-text  h2 {
    font-size: 18px;
    font-weight: 600;   
}


.reviews-wrapper .review-text p {
    font-size: 16px;
    color: #2b2b2b;
}


.right .overlay {
    width: 395.48px;
    height: 411.3px;
    transform: rotate(25.55deg);
    position: relative;
    right: -50px;
    top: 50px;
    z-index: -1;
    box-shadow: inset 57.8px -57.8px 57.8px tgba(149, 149, 149, .14), inset -57.8px 57.8px 57.8px rgba(255, 255, 255, .141);
}


.right .overlay img {
    width: 100%;
    height: 100%;
    z-index: -1;
}


.right .svg-container {
    width: 470px;
    height: 484px;
    position: absolute;

}


.right .svg-container img {
    height: 100%;
    width: auto;
    z-index: 10;
}


.right .overleaf {
    width: 202.4px;
    height: 300.41px;
    position: absolute;
    bottom: -32px;
    right: -75px;
}


@media screen and (max-width: 940px) {
    .nav {
        display: none;
    }
}


.service-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.service-icons .service-icon {
    width: 400px;
    height: 171px;
    background-color: rgba(0, 115, 12, .14);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: inset 21px 21px 21px rgba(149, 149, 149, .1), inset -21px -21px 21px rgba(255, 255, 255, .1);
}


.service-icons .service-icon img {
    width: 93px;
    height: 74px;
}


.about-us.wrapper {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.about-us .leaf-container {
    position: absolute;
    left: 0;
    top: -4em;                
}


.about-us .left, .right {
    display: flex;
    align-items: flex-start;
}


.about-us .left {
    justify-content: flex-start;
    padding-left: 150px;

}


.about-us .left .image-container {
    height: 600px;
    width: 393px;
}


.about-us .left .image-container img {
    width: auto;
    height: 100%;
    position: relative;
    z-index: 100;
    bottom: -119px;
    left: 20px;
}


.about-us .left .bg {
    position: absolute;
    bottom: 0;
    left: 150px;
}


.about-us .right {
    align-items: flex-start;
    padding-right: 12rem;
}


.about-us .right h3 {
    font-size: 18px;
    color: #212529;
    font-weight: 400;
    margin-bottom: 30px;
}


.about-us .right h2 {
    font-size: 42px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 30px;
}


.about-us .right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    color: var(--light-grey);
    margin-bottom: 30px;
}


.branch {
    margin-top: 330px;
}


.branch .base {
    height: 177px;
    position: relative;
    width: 1260px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 23px;
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #00810d 0%, #00610a 100%);
    box-shadow: 0px 85.8px 211.6px rgba(0, 23,2, .1), inset 0px -35.2667px 35.2667px #005c0a, inset 0px 35.2667px 35.2667px #00850e;

}


.branch .base .branch-wrapper {
    width: 260px;
    height: 362px;
    position: absolute;
    left: 19px;
    bottom: 27px;

}


.branch .base .icon:not(:last-child) {
    margin-right: 60px;
}


.branch .base .branch-wrapper img {
    height: auto;
    width: 100%;
}


.projects {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    padding-top: 130px;
    
}



.projects h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}


.projects h2 {
    font-size: 45px;
    font-weight: 700;
    color: black;
    line-height: 61px;
}


.projects p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #676767;
    width: 60%;
    margin: auto;
}


.projects .toggle-container a {
    border-radius: 6px;
    padding: 10px 26px;
    color: var(--green);
    text-decoration: none;
    border: 1px solid var(--green);
    transition: all ease .3s;
    margin: 0 13px;
}


.projects .toggle-container a:hover {
    background-color: var(--green);
    color: whitesmoke;
}


.projects .project-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    max-width: 1260px;
    margin: 30px auto;
    padding-top: 100px;
    
}


.projects .project-tiles .project-tile {
    width: 300px;
    height: 409px;
    border-radius: 15px;
    margin: 10px auto;
    overflow: hidden;
    transition: all ease-in-out .5s;
    position: relative;
}


.projects .project-tiles .project-tile:hover .overlay {
    display: block;
    display: flex;
    flex-direction: column;
}


.projects .project-tiles .project-tile .overlay {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    background-color: #ffffff88;
    color: whitesmoke;
    padding-top: 4rem;
    text-align: start;
}


.projects .project-tiles .project-tile .overlay h2 {
    color: whitesmoke;
    font-weight: 700;
    font-size: 24px;
    margin-left: 3rem;
}


.projects .project-tiles .project-tile .overlay p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}


.projects .project-tiles .project-tile .overlay div {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}


.projects .project-tiles .project-tile .overlay div img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, .2);
}


.projects .project-tiles .project-tile .overlay hr {
    border: 1px solid white;
    background-color: white;
}


.projects .project-tiles .project-tile .img-wrapper {
    height: 63%;
    border-radius: 15px;
    min-width: 100%;
}


.projects .project-tiles .project-tile:hover .img-wrapper {
    height: 100%;
}


.projects .project-tiles .project-tile  .img-wrapper {
    width: 100%;
    background-size: cover;    
}


.projects .project-tiles .project-tile  .img-wrapper.one {
    background-image: url('https://images.pexels.com/photos/1023423/pexels-photo-1023423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}


.projects .project-tiles .project-tile  .img-wrapper.two {
    background-image: url('https://images.pexels.com/photos/4751969/pexels-photo-4751969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}


.projects .project-tiles .project-tile  .img-wrapper.three {
    background-image: url('https://images.unsplash.com/photo-1532978678576-8e855616398d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}


.projects .project-tiles .project-tile  .img-wrapper.four {
    background-image: url('https://images.unsplash.com/photo-1611511449908-4835bf24a62c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}


.projects .project-tiles .project-tile  .img-wrapper.five {
    background-image: url('https://images.unsplash.com/photo-1518931169559-527a99b4074d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}


.projects .project-tiles .project-tile  .img-wrapper.six {
    background-image: url('https://images.unsplash.com/photo-1559579862-ab70f331d2e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
}


.projects .project-tiles .project-tile  .img-wrapper.seven {
    background-image: url('https://images.unsplash.com/photo-1467970767472-2488be1b8362?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}


.projects .project-tiles .project-tile  .img-wrapper.eight {
    background-image: url('https://images.unsplash.com/photo-1645084330409-3056624afc0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}



.projects .project-tiles .project-tile .text-wrapper {
    background-image: linear-gradient(180deg, #ffffff 0%, #eaeaea 100%);
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    padding: 15px 30px;
}


.projects .project-tiles .project-tile .text-wrapper h2 {
    color: var(--green);
    font-size: 24px;
    font-weight: 700;
}


.projects .project-tiles .project-tile .text-wrapper p {
    font-weight: 400;
    font-size: 14px;
    color: var(--light-grey);
    width: 100%;
}


.expert {
    min-height: 80vh;
    background-color: var(--light-green);
    text-align: center;
    padding-top: 60px;
    margin-top: 170px;
    font-family: 'Nunito Sans', sans-serif;
}


.expert h3 {
    font-size: 18px;
    font-weight: 400;
}


.expert h1 {
    font-weight: 700;
    font-size: 45px;
}


.expert h1 span {
    color: var(--green);
}


.expert .tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    padding: 0 10px;
}


.expert .tiles-wrapper .tile {
    width: 300px;
    height: 313px;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    transition: all ease-in-out .3s;
}


.expert .tiles-wrapper .tile:hover {
    background-image: linear-gradient(180deg, #04a915 0%, #005409 100%);
    color: #ffffff;
}


.expert .tiles-wrapper .tile img {
    width: 80px;
    height: 80px;
}


.expert .tiles-wrapper .tile h2 {
    font-size: 24px;
    font-weight: 700;
}


.expert .tiles-wrapper .tile p {
    font-size: 14px;
    font-weight: 400;
}


.team {
    padding: 100px 120px 0 120px;
    text-align: start;
    margin-bottom: 120px;
    font-family: 'Nunito Sans', sans-serif;
}


.team p {
    font-size: 18px;
    font-weight: 400;
    color: #212529;
}


.team .header h1 {
    font-size: 45px;
    font-weight: 700;
}


.team .header h1 span {
    color: var(--green);
}


.team .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 60px;
}


.team .wrapper .team-profile {
    margin: auto;
    height: 310px;
    width: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}


.team .wrapper .team-profile.one {
    margin-left: 0;
    background-image: url('https://images.unsplash.com/photo-1531734510209-2da4a139a53a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}


.team .wrapper .team-profile.two {
    background-image: url('https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80');
}


.team .wrapper .team-profile.three {
    background-image: url('https://images.unsplash.com/photo-1598198414976-ddb788ec80c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=379&q=80');
}


.team-profile .team-profile-info {
    position: absolute;
    bottom: -2rem;
    left: 33px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, .08);
}


.team-profile .team-profile-info h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
}


.team-profile .team-profile-info p {
    font-size: 18px;
    font-weight: 400;
    color: var(--light-grey);
}


.team .wrapper .team-profile .overlay {   
    position: absolute;
    bottom: -2rem;
    left: 33px;
    height: 170px;
    backdrop-filter: blur(45.864px);
    border-radius: 10px;
    background-color: rgba(0, 115, 12, .042);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, .08);
    display: none;
    transition: all ease .3s;
}



.team .wrapper .team-profile .overlay h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 2rem;
}


.team .wrapper .team-profile .overlay p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}


.team .wrapper .team-profile .overlay .social-icons {
    display: flex;
    justify-content: space-around;
}


.team .wrapper .team-profile .overlay .social-icons .social-icons-wrapper {
    width: 40px;
    height: 40px;
}


.team .wrapper .team-profile .overlay .social-icons .social-icons-wrapper img {
    width: 100%;
    height: 100%;
}


.team .wrapper .team-profile:hover .team-profile-info {
    display: none;
}


.team .wrapper .team-profile:hover .overlay {
    display: block;
    text-align: center;
}


.gardening {
    width: 100%;
    background-image:  linear-gradient(107.11deg, #D9F1DF 6.32%, rgba(252, 231, 208, 0.5) 51.07%, #D9F1DF 92.67%);
    min-height: 431px;
    /* padding-left: 126px; */
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Nunito sans', sans-serif;
}


.gardening .plants {
    position: relative;
}


.gardening .left-overleaf {
    position: absolute;
    top: 20px;
    left: 0;
}


.gardening h1 {
    font-size: 45px;
    font-weight: 700;
    max-width: 80%;
    color: var(--black);
    margin-left: 126px;
    margin-top: 76px;
}


.gardening .plants a {
    margin-top: 60px;
}


.gardening h1 span {
    color: var(--green);
}


.gardening .plants .green-btn {
    margin-left: 126px;
}


.gardening .plants .flower-wrapper {
    position: absolute;
    right: 69px;
    bottom: 40px;
}


.gardening .gardening-img {
    position: relative;
}


.gardening .gardening-img img {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
}


.testimonials {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}


.testimonials #header {
    font-size: 18px;
    font-weight: 400;
    margin-top: 100px;
}


.testimonials h1 {
    font-size: 45px;
    font-weight: 700;    
}


.testimonials h1 span {
    color: var(--green);
}


.carousel-wrapper {
    width: 615px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}


.testimonials .carousel .carousel-item {
    height: 317px;
    width: 615px;
    border-radius: 10px;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    color: var(--black);
    padding: 40px 30px;
}


.testimonials .carousel .carousel-item .img-container {
    display: flex;
    justify-content: space-between;   
    height: 80px;
    position: relative;
}


.testimonials .carousel .carousel-item .img-container .img {
    width: 70px;
    height: 70px;
}


.testimonials .carousel .carousel-item .img-container .img img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.testimonials .carousel .carousel-item .img-container .info {
    position: absolute;
    top: 8px;
    left: 80px;
}


.testimonials .carousel .carousel-item .img-container .rating h3 {
    font-size: 20px;
    font-weight: 400;
}


.testimonials .carousel .carousel-item .img-container .rating .stars-container {
    display: flex;
}


.testimonials .carousel .carousel-item .img-container .rating h3 span {
    font-weight: 700;
}


.testimonials .carousel .carousel-item .img-container .info h2 {
    font-size: 22px;
    height: 700;
}


.testimonials .carousel .carousel-item .img-container .info p {
    font-size: 14px;
    font-weight: 400;
}


.testimonials .carousel .carousel-item .txt-container { 
    text-align: start;
    position: relative;
}


.testimonials .carousel .carousel-item .txt-container p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 30px;
    z-index: 10;
}


.testimonials .carousel .carousel-item:hover {
    background-color: var(--green);
    color: #ffffff;
}


.testimonials .carousel .carousel-item .rating .fas {
    color: var(--dull-yellow);
}


.testimonials .carousel .carousel-item:hover .rating .fas {
    color: #ffffff;

}


.testimonials .carousel .txt-container .comma-wrapper {
    position: absolute;
    left: -12px;
    top: -10px;
}


.testimonials .carousel .txt-container .comma-wrapper img {
    z-index: -1;
    filter: opacity(.2);
}


.blogs {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}


.blogs #header {
    font-size: 18px;
    font-weight: 400;
    margin-top: 100px;
}


.blogs h1 {
    font-size: 45px;
    line-height: 61px;
    font-weight: 700;
}


.blogs h1 span {
    color: var(--green);
}


.blogs .blogs-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 100px;
    margin-top: 70px;
}


.blogs .blogs-wrapper .blog-item {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid var(--light-grey);

    transition: all ease .3s;
}


.blogs .blogs-wrapper .blog-item .blog-img {
    height: 44%;
    width: 100%;
}


.blogs .blogs-wrapper .blog-item .blog-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}


.blogs .blogs-wrapper .blog-item .blog-text .header {
    display: flex;
    justify-content: space-between;
    padding: 32px 21px;
    align-items: center;
}


.blogs .blogs-wrapper .blog-item .blog-text .header a {
    text-decoration: none;
    border: 1px solid var(--green);
    padding: .2rem .6rem;
    border-radius: 10px;
    color: var(--green);

    transition: all ease .3s;
}


.blogs .blogs-wrapper .blog-item .blog-text .header a:hover {
    background-color: var(--green);
    color: #ffffff;
}


.blogs .blogs-wrapper .blog-item .blog-text .header p {
    color: var(--green);
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
}


.blogs .blogs-wrapper .blog-item .blog-text .txt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    padding: 0 19px;
}


.blogs .blogs-wrapper .blog-item .blog-text .txt-wrapper p {
    color: var(--light-grey);
}


.blogs .blogs-wrapper .blog-item .blog-text a {
    text-decoration: none;
    color: var(--light-grey);
}


.blogs .blogs-wrapper .blog-item .blog-text h3 {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
}


.blogs .blogs-wrapper .blog-item:hover {
    box-shadow: 2px 11px 30px rgba(51, 51, 51, .1);
    border: none;
}


.blogs .blogs-wrapper .blog-item:hover  {
    color: var(--green);
}


.footer {  
    height: 557px;
    margin-top: 100px;
    padding: 100px 90px;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(98.24deg, #D9F1DF -1.52%, rgba(251, 238, 231, 0.5) 46.37%, #D9F1DF 100.32%);
}


.footer .top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.footer .top .about-us {
    display: flex;
    flex-direction: column;
}


.footer > div h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}


.footer .about-us p {
    font-size: 18px;
    font-weight: 400;
    color: var(--light-grey);
    width: 90%;
}


.about-us .social-icons {
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
}


.about-us .social-icons .social-icon .fab {
    color: var(--green);
    font-size: 28px;
}


.about-us .social-icons .social-icon .fab:not(:first-child) {
    margin-right: 2rem;
}


.footer .contacts ul,
.footer .useful-links ul  {
    margin: 0;
    padding: 0;
}


.footer .contacts ul li {
    display: inline-block;
}


.footer .contacts .fas {
    color: var(--green);
}


.footer .contacts ul li span {
    color: var(--light-grey);
    margin-left: 27px;
    font-size: 18px;
}


.footer .useful-links #wrapper li {
    list-style: none;
}


.footer .useful-links #wrapper .right {
    margin-left: 20px;
}


.footer .top .newsletters .wrapper {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: .1rem .3rem;
    height: 49px;
    border-radius: 10px;
}


.footer .top .newsletters .wrapper input {
    outline: none;
    border: none;
    padding-left: 1rem;
}


.footer .top .newsletters .wrapper button {
    border: none;
    height: 35px;
    border-radius: 5px;
    background-color: var(--green);
    color: #ffffff;
    padding: 0 10px;
}


.footer .top .useful-links #wrapper {
    display: flex;
}



.footer .top .useful-links #wrapper li:not(:first-child) {
    margin-top: 20px;
}


.footer .top .useful-links #wrapper li i {
    margin-right: 10px;
}


.footer .bottom {
    margin-top: 60px;   
}


.footer .bottom .footer-wrapper {
    display: flex;
    justify-content: space-between;
}


.footer .bottom .footer-wrapper .useful-links-container ul {
    display: flex;
}


.footer .bottom .footer-wrapper .useful-links-container ul li {
    margin: 0 .5rem;
    cursor: pointer;
}


.footer .bottom .copyright-container p,
.footer .bottom .useful-links-container li {
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    list-style: none;
}


.footer .bottom .useful-links-container li {
    cursor: pointer;
}




/* home-page section styling */

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 44px;
    background-color: var(--dark-green);
    color: #ffffff;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}


.top-nav .left {
    display: flex;
    align-items: center;
    padding-left: 150px;
}


.top-nav .left p {
    margin: 0 1rem;
}


.top-nav .right select {
    background-color: transparent;
    border: transparent;
    color: whitesmoke;
}


.top-nav .right select:active,
.top-nav .right select:focus {
    border: transparent;
    outline: none;
}


.top-nav .right select option {
    color: var(--black);
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    height: 110px;
    align-items: center;
}


.nav-bar .nav-links li {
    list-style: none;
    margin: 0 1rem;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
}


.hero-section {
    min-height: 665px;
    width: 100%;
    display: grid;
    font-family: 'Nunito Sans', sans-serif;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(106.85deg, rgba(0, 115, 12, 0.5) -7.05%, rgba(251, 246, 238, 0) 101.08%)
}


.hero-section .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 180px;
}


.hero-section .left h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
}


.hero-section .left h1 {
    font-weight: 800;
    font-size: 52px;
}


.hero-section .left p {
    margin-top: 20px;
    font-size: 18px;
    color: var(--light-grey);
}


.hero-section .left .quote-wrapper {
    margin-top: 20px;
}


.hero-section .left .stats {
    display: flex;
    margin-top: 41px;
}


.hero-section .left .stats .stat {
    display: flex;
    align-items: center;
    margin: 0 auto;
}


.hero-section .left .stats .stat:not(:first-child) {
    margin-left: 2rem;
}


.hero-section .left .stats .stat .stat-no {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(52.91deg, rgba(0, 115, 12, 0) 9.89%, rgba(249, 249, 249, 0.9384) 88.56%);
}


.hero-section .left .stats .stat .stat-txt {
    margin-left: 1rem;
}


.hero-section .left .stats .stat .stat-txt p {
    font-weight: 700;
    font-size: 16px;
    color: var(--black);
    line-height: 19px;
}


.hero-section .left .stats .stat .stat-no p {
    font-size: 14px;
    line-height: 19.1px;
    color: var(--black);
    font-weight: 700;
}


.hero-section .right {
    position: relative;
}


.hero-section .right .img-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
}
















